---
name: Publish container

on:
  workflow_dispatch: {}
  push:
    tags:
      - "*"
    branches:
      - main
    paths:
      - DOCKERFILE
      - config/**
      - scripts/**

jobs:
  build-push:
    if: github.repository == 'rust84/vaultwarden-fly-template'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Login to ghcr
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Container meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw, value=latest, enable={{is_default_branch}}
            type=semver, pattern={{version}}
            type=ref, event=branch
            type=ref, event=tag
            type=ref, event=pr

      - name: Build and push to ghcr
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
